<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filamentos de Impresión 3D</title>
</head>
<body>
    <h1>Filamentos Registrados</h1>
    <a href="{{ url_for('add') }}">Agregar Marca</a>
    <a href="{{ url_for('add_marca') }}">Agregar Marca</a>
    <a href="{{ url_for('add_tipo') }}">Agregar Tipo</a>
    <a href="{{ url_for('add_color') }}">Agregar Color</a>
    <table>
        <thead>
            <tr>
                <th>Código Único</th>
                <th>Marca</th>
                <th>Tipo</th>
                <th>Color</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for filamento in filamentos %}
            <tr>
                <td>{{ filamento.codigo_unico }}</td>
                <td>{{ filamento.marca.nombre }}</td>
                <td>{{ filamento.tipo.nombre }}</td>
                <td>{{ filamento.color.nombre }}</td>
                <td>
                    <a href="{{ url_for('edit_filamento', id=filamento.id) }}">Editar</a>
                    <a href="{{ url_for('delete_filamento', id=filamento.id) }}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
