<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario de Filamentos</title>
</head>
<body>
    <h1>Inventario de Filamentos</h1>
    <a href="{{ url_for('add_filamento') }}">Agregar Filamento</a>
    <br>
    <a href="{{ url_for('add_marca') }}">Agregar Marca</a>
    <br>
    <a href="{{ url_for('add_tipo') }}">Agregar Tipo</a>
    <br>
    <a href="{{ url_for('add_color') }}">Agregar Color</a>
    <br>
    <a href="{{ url_for('generate_qr_pdf') }}">Generar PDF con QRs</a>

    <h2>Lista de Filamentos</h2>
    <ul>
        {% for filamento in filamentos %}
              {% set dias_transcurridos = (fecha_hoy - filamento.fecha_apertura).days %}
            <li>
                {{ filamento.codigo_unico }} - 
                {{ filamento.marca.nombre }} - 
                {{ filamento.tipo.nombre }} - 
                {{ filamento.peso_spool }} g - 
                {{ filamento.peso_actual }} g - 
                {{ filamento.peso_actual - filamento.peso_spool}} g - 
                {{ filamento.fecha_apertura }} - 
                {{ dias_transcurridos }} 
                {{ filamento.estado }} - 
                <span style="background-color: {{ filamento.color.hex_color }}; padding: 5px; color: white;">
                    {{ filamento.color.nombre }}                </span>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
